.searchSpan {
    font-size: 12px;
    margin-right: 20px;
}

.btn {display: inline-block;
    padding: 5px 20px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    outline: none;
    color: #fff;
    background-color: #414141;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px #999;
    margin-right: 15px;
}
.btn:hover{
    cursor: pointer;
    background-color:  #f65064;
    color: #0f0f0f;


}
.btn:active{
    background-color: #f65064;
    box-shadow: 0 1px #666;
    transform: translateY(1px)
}
.btn:focus{
    outline: none;
}
.active {
    background-color: #f65064;
    box-shadow: 0 1px #666;
    transform: translateY(1px)
}