.container {
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    background-color: rgb(238, 238, 238);
    color: #000;
    font-size: 14px;
    font-weight: 700;
}
.sorting {
    display: flex;
}
.sorting div {
    display: flex;
}
.sorting span {
    padding-top: 1px;
}
.sortingBy{
    padding: 0;
    display: flex;
    list-style-type: none;
    margin: 0 auto;
}
.sortingBy li {
    margin-left: 15px;
    cursor: pointer;
}
.sortingBy li:hover{
    color: #f65064;
}
.btn {
    border: none;
    padding: 5px;
    cursor: pointer;
    font-weight: 500;
    color: #000;
    background-color: none;
}
.btn:hover {
    color: #f65064;
}
.btn:active {
    color: #f65064;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
}
.btn:focus {
    outline: none;
}
.active {
    color: #f65064;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
}
@media (max-width: 600px) {
    .container {
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;
        background-color: rgb(238, 238, 238);
        color: #000;
        font-size: 14px;
        font-weight: 700;
    }
    .select {display: none;}
    .counter {display: none;}
}