.modal {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}
.container {
    position: relative;
    max-width: 600px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.title {
    margin: 10px;
}
.description {
    border: 15px solid #fff;
    position: relative;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    cursor: default;
    z-index: 2;
}
.genres {
    font-size: 16px;
    margin: 10px;
}
.movieDescription {
    font-size: 14px;
    margin: 10px;
}