.container {
    background-color: rgb(51, 34, 34);
    border-radius: 0 0 15px 15px;
    margin-top: auto;
    margin-bottom: 50px;
}
.title {
    display: block;
    margin: 0 50px;
    padding: 25px 0;
    color: #f65064;
    font-size: 20px;
    font-weight: 700;
}
@media (max-width: 600px){
    .container {
        background-color: rgb(51, 34, 34);
        border-radius: 0;
        margin-top: auto;
        margin-bottom: 0;
    }
}