.wrapper {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 50px);
  margin: 0 auto;
  margin-top: 50px;
  padding: 0 20px;
}
.loader {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.6);
  
}
.loader_inner {
  display: flex;
  margin-top: 450px;
  align-items: top;
  justify-content: center;
  width: 100%;
}
.emptyBody {
  font-size: 32px;
  display: flex;
  margin: auto;
}

@media (max-width: 600px) {
  .wrapper {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh);
  margin: 0 auto;
  padding: 0;
  }
}
